<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>OscarDevCPP</username>
      <password>Sonatype%123Dev</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>sonatype-oss-release</id>
      <properties>
        <gpg.keyname>69D4DECB3A3F3CDE92B1E6D47238746578EAD2AD</gpg.keyname>
        <gpg.passphrase>pepuyusrl07</gpg.passphrase>
        <gpg.executable>/usr/bin/gpg</gpg.executable>
      </properties>
    </profile>
  </profiles>
</settings>